@tailwind base;
@tailwind components;
@tailwind utilities;

@import './github-markdown.css';

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 672px;
  margin: 0 auto;
  padding: 15px;
  background-color: transparent !important;
  color: black !important;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body a {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 0px;
  }
}
